<a href="https://www.kaggle.com/code/piyushjain572/ordinal-and-label-encoding?scriptVersionId=199288768" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('/kaggle/input/customer/customer.csv')
df.sample(5)

    age  gender   review education purchased
23   96  Female     Good    School        No
48   39  Female     Good        UG       Yes
16   59    Male     Poor        UG       Yes
5    31  Female  Average    School       Yes
33   89  Female     Good        PG       Yes

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['age','purchased']),
                                                df['purchased'],
                                                test_size = 0.2,
                                                random_state = 2)
print(X_train.size)
X_train.sample(5)

120

    gender   review education
31  Female     Poor    School
22  Female     Poor        PG
21    Male  Average        PG
11    Male     Good        UG
8   Female  Average        UG

# Ordinal Encoding on input features

In [8]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['Female','Male'],['Poor','Average','Good'],['School','UG','PG']])
oe.fit(X_train)

X_train_oe = oe.transform(X_train)
X_test_oe = oe.transform(X_test)

In [9]:
X_train = pd.DataFrame(X_train_oe,columns=X_train.columns)
X_test = pd.DataFrame(X_test_oe,columns=X_train.columns)
X_train.sample(10)

    gender  review  education
36     0.0     1.0        1.0
3      1.0     0.0        0.0
31     0.0     2.0        1.0
6      1.0     0.0        1.0
5      0.0     2.0        2.0
20     0.0     1.0        1.0
11     0.0     1.0        0.0
15     1.0     0.0        0.0
4      0.0     0.0        2.0
38     1.0     0.0        1.0

In [11]:
oe.categories_

[array(['Female', 'Male'], dtype=object),
 array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

# Label Encoder on target variable

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(y_train)

y_train_le = le.transform(y_train)
y_test_le = le.transform(y_test)

In [14]:
y_train = pd.DataFrame(y_train_le,columns=['purchased'])
y_test = pd.DataFrame(y_test_le,columns=['purchased'])
y_train.sample(10)

    purchased
20          0
11          1
21          0
15          1
19          1
5           1
34          0
0           1
33          0
1           1